<br>
<table>
    <tr>
        <td>Id:</td>
        <td><input id="id" [(ngModel)]="id"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td><input id="name" [(ngModel)]="name"></td>
    </tr>
    <tr>
        <td>Description:</td>
        <td><input id="description" [(ngModel)]="description"></td>
    </tr>
    <tr>
        <td>Price:</td>
        <td><input id="price" [(ngModel)]="price"></td>
    </tr>
    <tr>
        <td>Amount:</td>
        <td><input id="amount" [(ngModel)]="amount"></td>
    </tr>
</table><br>
<div style="text-align: center">
    <button class="btn btn-primary" (click)="add()">ADD</button>
</div>